
.about-card {
  max-width: 480px;
  margin: 6rem auto 8rem 15vw;
  padding: 1.5rem;

  background: #0f1f1bb8;
  border: 3px solid #7fdcc1;
  border-radius: 14px;

  color: white;
  font-family: 'rainmenu', sans-serif;
}

.about-card-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1rem;
}

.about-avatar {
  width: 192px;
  height: 192px;
  object-fit: cover;

  border-radius: 10%;
  border: 2px solid #7fdcc1;
  transition:
  transform 0.35s ease,
  filter 0.35s ease;
}


.about-title {
  padding-right: 0;
  margin: 0;
  font-family: 'rainmenu', sans-serif;
  font-size: clamp(2rem, 3vw, 3.4rem);
  text-align: right;
}


.about-pronouns {
  display: inline-block;
  margin-top: -0.75rem;
  margin-left: 0.25rem;

  padding: 0.25rem 0.6rem;
  font-size: 1.25rem;

  border: 1px solid #7fdcc1;
  border-radius: 10px;
  width: fit-content;
}


.about-list {
  margin-top: 1.25rem;
  padding-left: 1.25rem;
}

.about-list li {
  font-size: clamp(2rem, 3vw, 2rem);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}


@media (max-width: 1440px) {
  .about-card {
    margin: 8.4rem 1rem;
  }

  .about-card-header {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-avatar {
    margin: 0 auto 0.5rem;
  }

  .about-title {
    text-align: center;
  }

  .about-pronouns {
    margin: 0.5rem auto 0;
  }

  .about-wrapper {
    position: relative;
  }

  .global-side-nav {
    position: absolute;
    top: 0;
    left: 1rem;
    transform-origin: top left;
    margin: 0;
  }


 body.rain-active .global-side-nav[aria-expanded="true"] ~ .about-card .about-card-header .about-avatar {
  transform: translateX(40%) scale(0.95) rotate(3deg);
  filter: saturate(1.2) brightness(1.1);
}
}

@media (max-device-width: 400px) {
div{
  width: fit-content;
  margin-right: 2rem;
}
body.rain-active .global-side-nav[aria-expanded="true"] ~ .about-card .about-card-header .about-avatar {
  transform: translateX(45%) scale(0.75) rotate(3deg);
  filter: saturate(1.2) brightness(1.1);
}
}



