html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: scroll;
}


body {
    background-image: url(/main/images/wallpaper3.webp);
    z-index: 1;
    background-position: 70% 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    color: rgb(255, 255, 255);
}







@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}





body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.toggle {
    position: absolute;
    left: 20px;
    width: 50px;
    height: auto;
    line-height: 51px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: var(--page-background);
    color: rgb(255, 255, 255);
    border: 2px solid var(--page-border);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle:hover {
    background: var(--page-accent);
    transform: translateX(4px);
}

.toggle:active {
    background-color: var(--page-background);
}




.rain-toggle { top: 20px; }
.rain-disclaimer { top: 140px; }
.sound-toggle { top: 80px; }





body.menu-collapsed .toggle:not(.rain-toggle):not(.sound-toggle):not(.menu-toggle) {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}


body.rain-active .rain-toggle .btn-label-container {
    opacity: 1;
    width: auto;
    padding: 5px 10px;
}


body:not(.rain-active) .rain-toggle .btn-label-container {
    opacity: 0;
    width: 0;
    padding: 0;
    margin-right: -3px;
}

.rain-toggle, .toggle {
    display: flex;
    align-items: center;
    gap: 0; 
}

body:not(.rain-active) .sound-toggle {
    opacity: 0.4;
    pointer-events: none;
}

.btn-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 0px;
    width: 40px;             
    height: 40px;
    border: 3px solid var(--page-border);
    border-radius: 50%;      
    background-color: var(--page-background);
    font-family: "rainglyphs";
    font-style: normal;
    text-align: center;
    font-size: 30px;
}

.btn-label-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;                    
    background-color: transparent; 
    border-radius: 0;              
    transition: opacity 0.3s, width 0.3s, margin 0.3s;
    overflow: hidden;
}

.btn-label {
    font-family: 'rainbar';
    justify-content: center;
    width: auto;
    font-size: 8px;
    font-weight: normal;
    transition: opacity 0.3s, width 0.3s, margin 0.3s;
}

.toggle, .back-row-btn {
    width: auto;          
    height: 40px;          
    padding: -2px 10px;
    display: flex;          
    align-items: center;    
    justify-content: flex-start; 
    gap: 0px;              
    border-radius: 25px;
    border: 2px solid var(--page-border);
    background-color: var(--page-accent);
    cursor: pointer;
    z-index: 10;           
    transition: all 0.3s;
}

.toggle.active, .back-row-btn.active {
  background-color: var(--page-active);
}

.rain-disclaimer {
  background-color: var(--page-active);
}

body:not(.rain-active) .toggle:not(.rain-toggle):not(.menu-toggle),
body:not(.rain-active) .back-row-btn {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; 
}

body:not(.rain-active) .menu-toggle {
  opacity: 0;
  transform: translateX(-100px);
  pointer-events: none;
}

body:not(.rain-active) .btn-label .btn-label-container {
  border: 0px !important;
}

body.menu-collapsed .toggle:not(.rain-toggle):not(.sound-toggle):not(.menu-toggle) {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


body.menu-collapsed .menu-toggle {
  display: none;
  transform: translateX(-20px);
  pointer-events: none;
}


body.menu-collapsed .sound-toggle {
  top: 80px !important; 
}

@media (max-width: 580px){
  .menu-toggle{
    position: absolute !important;
    top: 230px !important;
    left: 10px !important;
  }
  .rain-toggle .btn-label-container{
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  display: none !important;
  }
  .rain-toggle .btn-label{
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  display: none !important;
  }
  
  body.menu-collapsed .menu-toggle {
  transform: translateY(-20px) !important;
}
  body.menu-collapsed .toggle:not(.rain-toggle):not(.sound-toggle):not(.menu-toggle) {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
  body:not(.rain-active) .menu-toggle {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
  .toggle {
    box-sizing: content-box;
    left: 10px;
  }
  
  .btn-label-container {
    align-items: center;
    align-content: center;
    padding: 0px;
    box-sizing: border-box;
    max-width: 40px;
  }
  .btn-label {
    font-size: 6px;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    padding: 0px;
  }
  body.rain-active .rain-toggle .btn-label-container {
    opacity: 1;
    width: 0px;
    padding: 0px 0px;
    margin-right: 0px;
  }
.rain-toggle { top: 30px; }
.sound-toggle {
  top: 80px;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 6px;
  height: auto;
 }
 
.sound-toggle .btn-label-container {
    width: 40px;           
    min-width: 40px;
    max-width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  
 }
    .sound-toggle .btn-label {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-bottom: 1em;

    width: auto;
    max-width: 100%;
    margin: 0;

    font-size: 8px;
    line-height: 1;
    white-space: nowrap;
  }
  
 
.rain-disclaimer {
  display: none;
}
}


.toggle, .back-row-btn {
    position: absolute;
    z-index: 10;
}


.rain {
    pointer-events: none !important;
}
